#! /usr/bin/env python

# Declare parameters that control stereo throttle

PACKAGE='lrm_stereo'
import roslib; roslib.load_manifest(PACKAGE)
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

gen.add("rate",  double_t, 0, "Throttle frequency (HZ)", 5, 1, 1000)

exit(gen.generate(PACKAGE, "lrm_stereo", "ThrottleStereo"))
