<launch>

	<param
		name="/use_sim_time"
		value="true" />
		
	<node
		pkg="tf"
		type="static_transform_publisher"
		name="wheel_odom_broadcaster_a"
		args="0.0 0.0 0.0  1.57 3.14 1.57 base_sensors stereo_camera 30"
		output="screen" />

	<node
		pkg="tf"
		type="static_transform_publisher"
		name="wheel_odom_broadcaster_b"
		args="0.0 0 1.0 0 0 0 base_footprint base_sensors 30"
		output="screen" />

	<node
		pkg="tf"
		type="static_transform_publisher"
		name="wheel_odom_broadcaster_c"
		args="-1.0 0 0 0 0 0 base_footprint base_odometry 30"
		output="screen" />

	<node
		pkg="tf"
		type="static_transform_publisher"
		name="wheel_odom_broadcaster_d"
		args="0.0 0.0 0.5 0 0 0 base_odometry imu_link 30"
		output="screen" />
		
</launch>