<launch>

	<arg
		name="bond"
		value="" />

	<node
		pkg="nodelet"
		type="nodelet"
		name="pass_throught_range_z_nodelet"
		args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
		output="screen"
		respawn="true"
	>
		<remap
			from="~input"
			to="points2" />
		<remap
			from="~output"
			to="points3" />
		<param
			name="filter_field_name"
			value="z" />
		<param
			name="filter_limit_min"
			value="0.0" />
		<param
			name="filter_limit_max"
			value="20.0" />
	</node>

	<node
		pkg="nodelet"
		type="nodelet"
		name="pass_throught_range_x_nodelet"
		args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
		output="screen"
		respawn="true"
	>
		<remap
			from="~input"
			to="points3" />
		<remap
			from="~output"
			to="points4" />
		<param
			name="filter_field_name"
			value="x" />
		<param
			name="filter_limit_min"
			value="-15.0" />
		<param
			name="filter_limit_max"
			value="15.0" />
	</node>

	<node
		pkg="nodelet"
		type="nodelet"
		name="voxel_grid_nodelet"
		args="load pcl/VoxelGrid /camera_nodelet_manager $(arg bond)"
		output="screen"
		respawn="true"
	>
		<remap
			from="~input"
			to="points4" />
		<remap
			from="~output"
			to="points5" />
		<param
			name="leaf_size"
			value="0.05" />
		<param
			name="output_frame"
			value="/map" />
	</node>

	<node
		name="cluster_sum_filtered"
		pkg="lrm_wrappers"
		type="cloud_sum_node"
		respawn="true"
		output="screen"
	>
		<remap
			from="points_in"
			to="points5" />
		<remap
			from="~points_out"
			to="points_out" />
		<param
			name="frame_count"
			value="100" />
		<param
			name="incremental"
			value="true" />
	</node>

</launch>