<launch>
    
	<arg
		name="bond"
		value="" />
		
	<node
		pkg="nodelet"
		type="nodelet"
		name="cmd_vel_mux"
		args="load cmd_vel_mux/CmdVelMuxNodelet /main_nodelet_manager $(arg bond)"
		output="screen"
		respawn="true"
	>
		<param
			name="yaml_cfg_file"
			value="$(find lrm_bringup)/params/cmd_vel_mux.yaml" />
	</node>

	<node
		name="nav_message_node"
		pkg="lrm_drivers"
		type="nav_message_node"
		output="screen"
		respawn="true"
	>
		<remap
			from="cmd_vel"
			to="/carina_controller/cmd_vel" />
		<remap
			from="~steering_commands"
			to="steering_commands" />
		<remap
			from="~velocity_commands"
			to="velocity_commands" />
		<!-- 
		<remap
			from="~throttle_commands"
			to="nav_throttle_commands" />
		 -->
	</node>
	
</launch>
