<launch>

    <!--
	<param
		name="/use_sim_time"
		value="true" />
	-->
	
	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/teleop_joy_params.yaml" />

	<node
		pkg="lrm_drivers"
		name="joy_teleop"
		type="teleoperation_by_joy"
		output="screen"
	>
	</node>

	<node
		pkg="joy"
		name="joystick"
		type="joy_node"
		output="screen"
	>
	</node>

</launch>