<launch>

	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/octomap_parameters.yaml"
		ns="octomap_server" />

	<include file="$(find lrm_bringup)/launch/camera_nodelet_manager.launch" />

	<node
		pkg="nodelet"
		type="nodelet"
		name="octomap_server"
		args="load lrm_octomap_server/OctomapServerNodelet /camera_nodelet_manager"
	>
		<!-- 
		<remap
			from="cloud_in"
			to="/cluster_filter_node/points_out" />
 		-->
		<remap
			from="projected_map"
			to="/map" />
	</node>

</launch>
