<launch>
 
<!--
	<include file="$(find lrm_bringup)/launch/odometry_vo.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_gps.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_ekf.launch" />
-->

	<node
		name="odom_relay"
		pkg="topic_tools"
		type="relay"
		args="/wheel_odometry/odom /odom"
		respawn="true"
		output="screen"
	>
	</node>

<!-- 
	<node
		name="iri_covariance_markers"
		pkg="iri_covariance_markers"
		type="iri_covariance_markers"
		output="screen"
	>
		<remap
			from="~odom"
			to="/odom" />

		<param
			name="frame_id"
			value="/base_odometry" />
		<param
			name="namespace"
			value="" />
		<param
			name="scale_multiplier"
			value="2" />
		<param
			name="scale_multiplier_z"
			value="0.00001" />
	</node>
-->

</launch>