<launch>

	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/odometry_params.yaml" />

	<node
		pkg="lrm_odometry"
		type="extended_odometry"
		name="wheel_odometry"
		output="screen"
		respawn="true"
	>
		<remap
			from="encoders"
			to="/encoders_controller/encoders" />
		<remap
			from="imu_data"
			to="/calibrated/imu/data" />
	</node>
	
</launch>