<launch>

    <!-- 
	<param
		name="/use_sim_time"
		value="true" />
	-->
	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/global_sim_params.yaml" />

 	<include file="$(find lrm_bringup)/launch/octomap_mapping.launch" />
 	<include file="$(find lrm_bringup)/launch/planning_navigation.launch" />

</launch>
