<launch>

	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/global_sim_params.yaml" />

 	<include file="$(find lrm_bringup)/launch/localization.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_sim.launch" />
	
	<include file="$(find lrm_bringup)/launch/stereo_vision.launch" />
	<include file="$(find lrm_bringup)/launch/octomap_mapping.launch" />
	<include file="$(find lrm_bringup)/launch/planning_navigation.launch" />

</launch>