<launch>

	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/global_sim_params.yaml" />

	<include file="$(find lrm_bringup)/launch/robot_model.launch" />

	<include file="$(find lrm_bringup)/launch/run_carina.launch" />
	<include file="$(find lrm_bringup)/launch/simulation.launch" />
	<include file="$(find lrm_bringup)/launch/localization.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_sim.launch" />
	
	<!-- 	
	<include file="$(find lrm_bringup)/launch/odometry_wheel_sim.launch" />

	<include file="$(find lrm_bringup)/launch/odometry.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_wheel.launch" />
	 -->
	
	<!-- 
    <include file="$(find lrm_bringup)/launch/stereo_vision.launch" />
    <include file="$(find lrm_bringup)/launch/nodelet_manager.launch" />
 	<include file="$(find lrm_bringup)/launch/stereo_vision_nodelet.launch" />
 	-->
 	
 	<!-- TELEOP 
 	<include file="$(find lrm_bringup)/launch/teleop_joystick.launch" />
 	<include file="$(find lrm_bringup)/launch/teleop_keyboard.launch" />
 	-->

</launch>
