<launch>

	<arg
		name="bond"
		value="" />

	<group ns="/cloud">

		<node
			name="principal_curvature_node"
			pkg="lrm_wrappers"
			type="principal_curvature_node"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_cluster" />
			<!-- 
			<remap
				from="~points_out"
				to="principal_curvature_points" />
			 -->
		</node>

		<node
			name="moving_leastsquares_node"
			pkg="lrm_wrappers"
			type="moving_leastsquares_node"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_cluster" />
			<!-- 
			<remap
				from="~points_out"
				to="principal_curvature_points" />
			 -->
		</node>

<!-- 
		<node
			name="zigzag_filter_node"
			pkg="lrm_wrappers"
			type="zigzag_filter_node"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_cluster" />
		</node>
-->

		<node
			name="smooth_axis_filter_node"
			pkg="lrm_wrappers"
			type="smooth_axis_filter_node"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_cluster" />
		</node>

		<node
			name="zigzag_sum_filtered"
			pkg="lrm_wrappers"
			type="cloud_sum_node"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_zigzag_filter" />
			<remap
				from="~points_out"
				to="points_zigzag_filter_sum" />

			<param
				name="frame_count"
				value="50000" />
			<param
				name="incremental"
				value="true" />

		</node>

	</group>

</launch>