<launch>

	<arg
		name="bond"
		value="" />

	<group ns="/stereo">

		<include file="$(find lrm_bringup)/launch/image_pipeline_stereo.launch" />

		<rosparam
			command="load"
			file="$(find lrm_bringup)/params/disparity_params.yaml" />

		<node
			pkg="nodelet"
			type="nodelet"
			name="disparity_bm"
			args="load lrm_stereo/disparity_bm /camera_nodelet_manager $(arg bond)"
			respawn="true"
			output="screen"
		>
			<remap
				from="disparity"
				to="disparity_bm" />
		</node>

		<rosparam
			command="load"
			file="$(find lrm_bringup)/params/stereo_param.yaml" />

		<node
			pkg="nodelet"
			type="nodelet"
			name="point_cloud"
			args="load lrm_stereo/point_cloud2 /camera_nodelet_manager $(arg bond)"
			respawn="true"
			output="screen"
		>
			<remap
				from="disparity"
				to="disparity_bm" />
		</node>


		<include file="$(find lrm_bringup)/launch/stereo_vision_nodelet_extras.launch" />

	</group>

</launch>