<launch>

	<group ns="joystick">

		<include file="$(find lrm_bringup)/launch/joystick_node.launch" />

		<node
			name="car_message_node"
			pkg="lrm_drivers"
			type="car_message_node"
			output="screen"
			respawn="true"
		>
		    <!-- 
			<param
				name="max_velocity"
				value="100" />
			-->
			<remap
				from="~cmd_vel"
				to="/joystick/cmd_vel" />
		</node>

	</group>

</launch>