<launch>

	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/vision_throttle_params.yaml" />

	<node
		name="throttle_stereo"
		pkg="lrm_stereo"
		type="throttle_stereo_node"
		output="screen"
		respawn="true" />

</launch>




<!--
	<group ns="/stereo">
		<node
			name="throttle_stereo"
			pkg="nodelet"
			type="nodelet"
			args="load lrm_stereo/throttler /camera_nodelet_manager"
			respawn="true"
			output="screen"
		>
			<param
				name="input_namespace"
				value="/stereo_camera" />
			<param
				name="output_namespace"
				value="/stereo_nodelet" />
			<param
				name="rate"
				value="5" />
		</node>
	</group>
 -->
  
<!-- 
	<group ns="/stereo">
		<group ns="left">
			<node
				name="image_raw_throttle"
				pkg="topic_tools"
				type="throttle"
				args="messages /stereo_camera/left/image_raw 5.0 image_raw"
			>
				<param
					name="lazy"
					value="true" />
			</node>
			<node
				name="camera_info_throttle"
				pkg="topic_tools"
				type="throttle"
				args="messages /stereo_camera/left/camera_info 5.0 camera_info"
			>
				<param
					name="lazy"
					value="true" />
			</node>
		</group>
		<group ns="right">
			<node
				name="image_raw_throttle"
				pkg="topic_tools"
				type="throttle"
				args="messages /stereo_camera/right/image_raw 5.0 image_raw"
			>
				<param
					name="lazy"
					value="true" />
			</node>
			<node
				name="camera_info_throttle"
				pkg="topic_tools"
				type="throttle"
				args="messages /stereo_camera/right/camera_info 5.0 camera_info"
			>
				<param
					name="lazy"
					value="true" />
			</node>
		</group>
	</group>
 -->