<launch>
<!-- 
cart_test.world
depth_camera.world
double_pendulums.world
force_torque_demo.world
joint_damping_demo.world
joints.world
lights.world
pioneer2dx.world
plugin.world
pr2.world
presentation.world
projector.world
rubble.world
>>rubble.world
shapes.world
trimesh_test.world
two_actors.world

 -->
	<node
		name="gazebo"
		pkg="gazebo"
		type="gazebo"
		args="$(find gazebo)/gazebo/share/gazebo-1.3/worlds/willowgarage.world"
		respawn="true"
		output="screen" />

	<node
		name="gazebo_gui"
		pkg="gazebo"
		type="gui"
		respawn="false"
		output="screen" />

</launch>