<launch>
	<param name="robot_description" command="cat $(find carina_description)/urdf/carina_gazebo.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
	<node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0 0 0 0 0 0 world odom 100" />

</launch>