<?xml version="1.0"?>
<!--
*  Copyright (C) 2012, Laboratorio de Robotica Movel - ICMC/USP
 *  Rafael Luiz Klaser <rlklaser@gmail.com>
 *  http://lrm.icmc.usp.br
 *
 *  Apoio FAPESP: 2012/04555-4
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * @file base.gazebo.xacro
 * @brief 
 * @author Rafael Luiz Klaser <rlklaser@gmail.com>
 * @date Dez 12, 2012
 *
 */
-->
<robot
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
	xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
	xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
	xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
	xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
>
	<gazebo>
		<controller:gazebo_ros_controller_manager
			name="gazebo_ros_controller_manager"
			plugin="libgazebo_ros_controller_manager.so"
		>
			<alwaysOn>true</alwaysOn>
			<updateRate>100</updateRate>
			<robotParam>robot_description</robotParam>
			<robotNamespace>/</robotNamespace>
		</controller:gazebo_ros_controller_manager>
		<controller:gazebo_ros_imu
			name="imu_controller"
			plugin="libgazebo_ros_imu.so"
		>
			<alwaysOn>true</alwaysOn>
			<updateRate>30</updateRate>
			<bodyName>imu_link</bodyName>
			<topicName>imu_data</topicName>
			<serviceName>imu_service</serviceName>
			<gaussianNoise>2.89e-08</gaussianNoise>
			<interface:position name="imu_position" />
		</controller:gazebo_ros_imu>
		<controller:gazebo_ros_p3d
			name="p3d_base_controller"
			plugin="libgazebo_ros_p3d.so"
		>
			<alwaysOn>true</alwaysOn>
			<updateRate>30</updateRate>
			<bodyName>base_odometry</bodyName>
			<topicName>odom_gazebo</topicName>
			<gaussianNoise>0.01</gaussianNoise>
			<frameName>base_odometry</frameName>
			<interface:position name="p3d_base_position" />
		</controller:gazebo_ros_p3d>
	</gazebo>

</robot>