<launch>

	<node 
		name="rosbag_play" 
		pkg="rosbag" 
		type="play" 
		args="--loop --delay=5 $(env ROS_WORKSPACE)/bags/stereo640_xsens_rua.bag"
	>	
		<!-- <remap from="/lse_xsens_mti/xsens/pose" to="/pose" /> -->
	</node>
	
	<node
		name="republish"
		pkg="image_republish"
		type="stereo_republish_node"
	>
		<param name="restamp" value="true" />	
	</node>
	
	<node name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc">
		<!-- 
	    <env name="ROS_NAMESPACE" value="/stereo" />
		 -->	
	    <remap from="left/image_raw" to="left/image" />
	    <remap from="right/image_raw" to="right/image" />
    
	</node>
	
</launch>