<launch>

	<node name="left" pkg="usb_cam" type="usb_cam_node">
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="640" />
	    <param name="image_height" value="480" />
	    <param name="pixel_format" value="mjpeg" />
	    <!-- <param name="camera_frame_id" value="usb_cam" /> -->
	    <param name="io_method" value="mmap"/>
	</node>

	<node name="right" pkg="usb_cam" type="usb_cam_node">
		<param name="video_device" value="/dev/video0" />
		<param name="image_width" value="640" />
	    <param name="image_height" value="480" />
	    <param name="pixel_format" value="mjpeg" />
	    <!-- <param name="camera_frame_id" value="usb_cam" /> -->
	    <param name="io_method" value="mmap"/>
	</node>

	<node name="image_view_left" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="left/image_raw"/>
		<param name="autosize" value="true" />
	</node>
	
	<node name="image_view_right" pkg="image_view" type="image_view" respawn="false" output="screen">
		<remap from="image" to="right/image_raw"/>
		<param name="autosize" value="true" />
	</node>
	
	<node name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc">
	    <!-- <env name="ROS_NAMESPACE" value="/stereo" /> -->
	</node>
	
</launch>