<launch>

	<param
		name="/use_sim_time"
		value="true" />

	<node
		name="gazebo"
		pkg="gazebo"
		type="gazebo"
		args="$(find gazebo_worlds)/worlds/empty.world"
		respawn="true"
		output="screen" />

	<node
		name="gazebo_gui"
		pkg="gazebo"
		type="gui"
		respawn="false"
		output="screen" />

	<node
		name="rviz"
		pkg="rviz"
		type="rviz"
		respawn="false"
		output="screen"
		args="-d $(find lrm_bringup)/launch/two_models.rviz" />

	<node
		pkg="tf"
		type="static_transform_publisher"
		name="world_broadcaster"
		args="0.0 0.0 0 0 0 0 /world /map 30"
		output="screen" />

<!-- 
	<group ns="one">
 -->
 
		<param
			name="tf_prefix"
			value="/one" />

		<node
			pkg="tf"
			type="static_transform_publisher"
			name="map_broadcaster"
			args="0.0 0.0 0 0 0 0 /map odom 30"
			output="screen" />

		<param
			name="robot_description"
			command="$(find xacro)/xacro.py '$(find lrm_description)/urdf/clubcar/robot.xacro'" />

		<node
			name="robot_state_publisher"
			pkg="robot_state_publisher"
			type="robot_state_publisher"
			output="screen"
			respawn="true" />
<!-- 
		<node
			name="joint_state_publisher"
			pkg="joint_state_publisher"
			type="joint_state_publisher"
			output="screen"
			respawn="true" />
 -->
		<rosparam
			command="load"
			file="$(find lrm_odometry)/params/odometry_params.yaml" />

		<node
			pkg="lrm_odometry"
			type="extended_odometry"
			name="wheel_odometry"
			output="screen"
			respawn="true"
		>
			<param
				name="use_imu"
				value="false" />
			<param
				name="publish_tf"
				value="true" />
			<param
				name="publish_js"
				value="true" />
			<param
				name="animation_only"
				value="true" />
			<param
				name="pos_cov"
				value="0.25" />
			<param
				name="rot_cov"
				value="0.0001" />
			<remap
				from="encoders"
				to="encoders_controller/encoders" />
			<remap
				from="imu_data"
				to="lse_xsens_mti/xsens/imu/data" />
		</node>
<!-- 
			args="-wait -urdf -param robot_description -x 0.0 -y 0.0 -z 0.0 -R 0 -P 0 -Y 0.0 -model carina_one -gazebo_namespace /gazeborver -robot_namespace /one -reference_frame odom"
 -->

		<node
			name="carina_object_one"
			pkg="gazebo"
			type="spawn_model"
			args="-urdf -param robot_description -model one -gazebo_namespace /gazeborver -robot_namespace /one -x 0.0 -y 0.0 -z 0.0"
			respawn="false"
			output="screen" />

		<node
			name="carina_object_two"
			pkg="gazebo"
			type="spawn_model"
			args="-urdf -param robot_description -model two -gazebo_namespace /gazeborver -robot_namespace /two -x 15.0 -y 0.0 -z 0.0"
			respawn="false"
			output="screen" />
			
		<node
			name="front_left_susp_controller"
			pkg="pr2_controller_manager"
			type="spawner"
			args="front_left_susp_controller"
			respawn="false"
			output="screen"
		>
			<param
				name="type"
				value="lrm_gazebo/SuspensionControllerPlugin" />
			<param
				name="effort"
				value="-700" />
			<param
				name="joint"
				value="joint_front_left_susp" />
		</node>

		<node
			name="front_right_susp_controller"
			pkg="pr2_controller_manager"
			type="spawner"
			args="front_right_susp_controller"
			respawn="false"
			output="screen"
		>
			<param
				name="type"
				value="lrm_gazebo/SuspensionControllerPlugin" />
			<param
				name="effort"
				value="700" />
			<param
				name="joint"
				value="joint_front_right_susp" />
		</node>

		<node
			name="rear_left_susp_controller"
			pkg="pr2_controller_manager"
			type="spawner"
			args="rear_left_susp_controller"
			respawn="false"
			output="screen"
		>
			<param
				name="type"
				value="lrm_gazebo/SuspensionControllerPlugin" />
			<param
				name="effort"
				value="-700" />
			<param
				name="joint"
				value="joint_rear_left_susp" />
		</node>

		<node
			name="rear_right_susp_controller"
			pkg="pr2_controller_manager"
			type="spawner"
			args="rear_right_susp_controller"
			respawn="false"
			output="screen"
		>
			<param
				name="type"
				value="lrm_gazebo/SuspensionControllerPlugin" />
			<param
				name="effort"
				value="700" />
			<param
				name="joint"
				value="joint_rear_right_susp" />
		</node>

		<node
			name="encoders_controller"
			pkg="pr2_controller_manager"
			type="spawner"
			args="encoders_controller"
			respawn="false"
			output="screen"
		>
			<param
				name="type"
				value="lrm_gazebo/EncodersControllerPlugin" />
			<param
				name="steering_wheel"
				value="true" />
			<param
				name="update_rate"
				value="30" />
			<param
				name="wheel_encoder_joint"
				value="joint_front_right_wheel" />
			<param
				name="steering_encoder_joint"
				value="joint_steer" />
			<param
				name="steering_wheel_joint"
				value="joint_steering_wheel" />
		</node>
<!-- 
	</group>
 -->
 
</launch>