<launch>


	<!-- 
	<node
		pkg="tf"
		type="static_transform_publisher"
		name="ekf_odom_broadcaster"
		args="0 0 0 0 0 0 map ekf_odom 50"
		output="screen" />
    -->
    
	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/odometry_ekf_params.yaml" />
		
	<node
		pkg="lrm_odometry"
		type="robot_pose_ekf"
		name="robot_pose_ekf"
		output="screen"
		respawn="true"
	>
		<remap
			from="imu_data"
			to="/lse_xsens_mti/xsens/imu/data" />
		<remap
			from="imu_data_xx"
			to="/calibrated/imu/data" />
		<remap
			from="gps"
			to="/gps_odometry/odom" />
		<remap
			from="odom"
			to="/wheel_odometry/odom" />
		<remap
			from="vo"
			to="/vo_odometry/odom" />
	</node>

	<node
		name="ekf_odometry"
		pkg="lrm_odometry"
		type="odom_from_pose_node"
		output="screen"
		respawn="true"
	>
		<remap
			from="pose"
			to="/robot_pose_ekf/pose" />
	</node>

</launch>
