<launch>

	<!--  
	<include file="$(find lrm_bringup)/launch/odometry_vo.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_gps.launch" />
	<include file="$(find lrm_bringup)/launch/odometry_ekf.launch" />
	-->
	
	<!-- localization
	<include file="$(find lrm_bringup)/launch/odometry_refine.launch" />
 	-->
 	
	<node
		name="odom_relay"
		pkg="topic_tools"
		type="relay"
		args="/wheel_odometry/odom /odom"
		respawn="true"
		output="screen" />

</launch>