<launch>

	<!-- 
	<node
		pkg="tf"
		type="static_transform_publisher"
		name="gps_odom_broadcaster"
		args="0 0 0 0 0 0 map gps_odom 50"
		output="screen" />
    -->

	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/odometry_gps_params.yaml" />

	<node
		name="gps_odometry"
		pkg="lrm_odometry"
		type="utm_odometry_node"
		output="screen"
		respawn="true"
	>
		<remap
			from="fix"
			to="/lse_xsens_mti/xsens/fix" />
		<remap
			from="imu_x"
			to="/lse_xsens_mti/xsens/imu/data" />
		<remap
			from="imu"
			to="/calibrated/imu/data" />
	</node>

    <!-- 
	<node
		pkg="lrm_odometry"
		type="from_fix"
		name="odom_from_fix"
		output="screen"
		respawn="true"
	>
	<param
			name="frame_id"
			value="odom" />

	<param
			name="child_frame_id"
			value="imu_link" />			

		<remap
			from="fix"
			to="/lse_xsens_mti/xsens/fix" />
	</node>
    -->
 	
 	<!-- 
	<node
		name="markers"
		type="pose_markers"
		pkg="lrm_odometry"
		output="screen"
	>
		<remap
			from="odom"
			to="/gps_odometry/odom" />

	</node>
	
</launch>
