<launch>

	<env
		name="GAZEBO_MODEL_PATH"
		value="$GAZEBO_MODEL_PATH:$(find lrm_description)/models/trees" />
	<env
		name="GAZEBO_PLUGIN_PATH"
		value="$GAZEBO_PLUGIN_PATH:$(find lrm_gazebo)/lib" />

<!-- 
	<node
		name="gazebo"
		pkg="gazebo"
		type="gazebo"
		args="$(find lrm_gazebo)/worlds/empty_terrain.world"
		respawn="true"
		output="screen" />

	<node
		name="gazebo"
		pkg="gazebo"
		type="gazebo"
		args="$(find lrm_gazebo)/worlds/parking.world"
		respawn="true"
		output="screen" />
--> 
 	<node
		name="gazebo"
		pkg="gazebo"
		type="gazebo"
		args="$(find lrm_gazebo)/worlds/pathway2.world"
		respawn="true"
		output="screen" />
	
</launch>
