<launch>

	<!--
	<param
		name="/use_sim_time"
		value="true" />
	-->
	
	<include file="$(find lrm_bringup)/launch/stereo_vision_nodelet.launch" />
	<include file="$(find lrm_bringup)/launch/stereo_vision_filters.launch" />
	<include file="$(find lrm_bringup)/launch/stereo_vision_clustering.launch" />

</launch>
