<launch>

	<group ns="relay">
		<!-- 
		args="/cloud/points_zigzag_filter /cloud_in"
		-->
		<node
			name="cluster_filter"
			pkg="topic_tools"
			type="relay"
			args="/cloud/points_voxel_clusters /cloud_in"
			respawn="true"
			output="screen" />

		<node
			name="local_cluster_filter"
			pkg="topic_tools"
			type="relay"
			args="/cloud/points_local_scan /local_cloud_in"
			respawn="true"
			output="screen" />

		<node
			name="cluster_ground_filter"
			pkg="topic_tools"
			type="relay"
			args="/cloud/ground_points_flattened /ground_cloud_in"
			respawn="true"
			output="screen" />

		<node
			name="octomap_map_cloud"
			pkg="topic_tools"
			type="relay"
			args="/octomap/map_server/octomap_point_cloud_centers /map_cloud_in"
			respawn="true"
			output="screen" />
	</group>
	
<!-- 
	<group ns="/cloud">
		<remap
			from="points_zigzag_filter"
			to="/cloud_in" />
		<remap
			from="points_local_scan"
			to="/local_cloud_in" />
		<remap
			from="ground_points_flattened"
			to="/ground_cloud_in" />
	</group>
-->

</launch>
