<launch>

	<!--
	<param
		name="/use_sim_time"
		value="true" />
	-->

	<group ns="/cloud">

		<rosparam
			command="load"
			file="$(find lrm_bringup)/params/clustering_filters.yaml" />

		<node
			name="region_growing_seg"
			pkg="lrm_wrappers"
			type="region_growing"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_stat" />
			<remap
				from="~points_out"
				to="points_cluster" />
		</node>

		<node
			name="cluster_filter_node"
			pkg="lrm_wrappers"
			type="cluster_filter_node"
			respawn="true"
			output="screen"
		>
			<remap
				from="points_in"
				to="points_cluster" />
			<remap
				from="~points_out"
				to="points_cluster_filter" />
		</node>

		<node
			name="cluster_sum_filtered"
			pkg="lrm_wrappers"
			type="cloud_sum_node"
			respawn="true"
			output="screen"
		>
			<!-- 
			<remap
				from="points_in"
				to="points_cluster_filter" />
			 -->
			<remap
				from="points_in"
				to="points_cluster" />
			<remap
				from="~points_out"
				to="points_cluster_sum" />
		</node>

		<node
			name="cluster_filter_relay"
			pkg="topic_tools"
			type="relay"
			args="points_cluster /cloud_in"
			respawn="true"
			output="screen" />

		<node
			name="cluster_ground_filter_relay"
			pkg="topic_tools"
			type="relay"
			args="ground_points_through_voxel /ground_cloud_in"
			respawn="true"
			output="screen" />

	</group>

</launch>