<launch>

	<arg
		name="bond"
		value="" />

	<group ns="/cloud">

		<rosparam
			command="load"
			file="$(find lrm_bringup)/params/cloud_filters.yaml" />

		<node
			pkg="nodelet"
			type="nodelet"
			name="voxel_grid_nodelet"
			args="load pcl/VoxelGrid /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="/stereo/points2" />
			<remap
				from="~output"
				to="points_voxel" />
		</node>


		<node
			name="plane_segment"
			pkg="lrm_wrappers"
			type="plane_segment"
			respawn="true"
			output="screen"
		>
			<remap
				from="points"
				to="points_voxel" />

			<remap
				from="~ground_points"
				to="gd_points_voxel" />
			<remap
				from="~no_ground_points"
				to="ngd_points_voxel" />
		</node>



		<node
			pkg="nodelet"
			type="nodelet"
			name="pass_throught_range_nodelet"
			args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="ngd_points_voxel" />
			<remap
				from="~output"
				to="points_through_range" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="pass_throught_nodelet"
			args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="points_through_range" />
			<remap
				from="~output"
				to="points_through" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="ground_pass_throught_nodelet"
			args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="gd_points_voxel" />
			<remap
				from="~output"
				to="ground_points_through" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="ground_voxel_grid_nodelet"
			args="load pcl/VoxelGrid /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="ground_points_through" />
			<remap
				from="~output"
				to="ground_points_through_voxel" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="stat_removal_nodelet"
			args="load pcl/StatisticalOutlierRemoval /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="points_through" />
			<remap
				from="~output"
				to="points_stat" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="local_scan_cutahead_points_nodelet"
			args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="points_voxel" />
			<remap
				from="~output"
				to="points_local_scan_cutahead" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="local_scan_points_nodelet"
			args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="points_local_scan_cutahead" />
			<remap
				from="~output"
				to="points_local_scan" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="local_ground_scan_points_nodelet"
			args="load pcl/PassThrough /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="points_local_scan_cutahead" />
			<remap
				from="~output"
				to="points_local_ground_scan" />
		</node>

		<node
			pkg="nodelet"
			type="nodelet"
			name="voxel_grid_clusters"
			args="load pcl/VoxelGrid /camera_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true"
		>
			<remap
				from="~input"
				to="points_zigzag_filter" />
			<remap
				from="~output"
				to="points_voxel_clusters" />
		</node>

	</group>

</launch>