<launch>

	<rosparam file="$(find lrm_bringup)/params/stereo_camera_params.yaml" />
	<include file="$(find lrm_bringup)/launch/bumblebee_nodelet_manager.launch" />

	<rosparam file="$(find lrm_bringup)/params/cameras/bumblebee_xb3.yaml" />

	<node
		pkg="nodelet"
		type="nodelet"
		name="camera1394_nodelet"
		args="load camera1394/driver /bumblebee_nodelet_manager --no-bond"
		output="screen"
		respawn="true" />
	
	<!-- or 
	00b09d0100be241e - bb2-38
	00b09d0100ac7cc8 - bb2-60
	00b09d0100bec852 - xb3
	-->

	<group ns="/stereo">
		<node
			pkg="nodelet"
			type="nodelet"
			name="xb3_split_nodelet"
			args="load lrm_sensors/split_xb3 /bumblebee_nodelet_manager --no-bond"
			output="screen"
			respawn="true"
		>
			<remap
				from="image_raw"
				to="/camera/image_raw" />
		</node>
	</group>


</launch>
