<launch>

	<!--
	<param
		name="/use_sim_time"
		value="true" />
	-->
	
	<include file="$(find lrm_bringup)/launch/bumblebee_nodelet_manager.launch" />

	<node
		pkg="nodelet"
		type="nodelet"
		name="camera1394_nodelet"
		args="load camera1394/driver /bumblebee_nodelet_manager"
	>
		<rosparam file="$(find lrm_bringup)/params/cameras/bumblebee.yaml" />
	</node>

	<!-- or 
	<node
		pkg="camera1394"
		type="camera1394_node"
		name="bumblebee"
	>
		<rosparam file="$(find lrm_bumblebee)/params/bumblebee.yaml" />
	</node>
 	-->

    <!-- TODO: use nodelet 
	<node
		name="split_node"
		pkg="lrm_bumblebee"
		type="split_node"
		output="screen"
	>
		<remap
			from="split_node/left/camera_info"
			to="/stereo/left/camera_info" />
		<remap
			from="split_node/right/camera_info"
			to="/stereo/right/camera_info" />
	</node>
	
	00b09d0100be241e - bb2-38
	00b09d0100ac7cc8 - bb2-60
	00b09d0100bec852 - xb3
	
	-->

	<group ns="/stereo_camera">
		<node
			pkg="nodelet"
			type="nodelet"
			name="bumblebee_split_nodelet"
			args="load lrm_sensors/split_bb2 /bumblebee_nodelet_manager"
		>
			<remap
				from="image_raw"
				to="/camera/image_raw" />

			<param
				name="name"
				value="00b09d0100ac7cc8" />
			<param
				name="frame_id"
				value="/stereo_camera" />
				
			<!-- 	
			<param
				name="camera_left_prefix"
				value="00b09d0100ac7cc8_left" />
			<param
				name="camera_right_prefix"
				value="00b09d0100ac7cc8_right" />
			-->
			<param
				name="left/camera_info_url"
				value="package://lrm_bringup/params/cameras/00b09d0100ac7cc8_left.yaml" />
			<param
				name="right/camera_info_url"
				value="package://lrm_bringup/params/cameras/00b09d0100ac7cc8_right.yaml" />
			<!-- 
			<param
				name="left/camera_info_url"
				value="package://lrm_bringup/params/cameras/bumblebee_60_left.yaml" />
			<param
				name="right/camera_info_url"
				value="package://lrm_bringup/params/cameras/bumblebee_60_right.yaml" />
			 -->
		</node>
	</group>
		
    <!-- 
 	<node
		pkg="nodelet"
		type="nodelet"
		name="image_proc_debayer_left"
		args="load image_proc/debayer camera_nodelet_manager"
	>
		<remap
			from="image_raw"
			to="/left/image_raw" />
		<remap
			from="image_color"
			to="/left/image_raw" />
		<remap
			from="image_mono"
			to="/left/image_mono" />
	</node>
	
	<node
		pkg="nodelet"
		type="nodelet"
		name="image_proc_debayer_right"
		args="load image_proc/debayer camera_nodelet_manager"
	>
		<remap
			from="image_raw"
			to="/right/image_raw" />
		<remap
			from="image_color"
			to="/right/image_raw" />
		<remap
			from="image_mono"
			to="/right/image_mono" />
	</node>
    -->

	<include file="$(find lrm_bringup)/launch/vision_throttle.launch" />

</launch>
