<launch>

	<!--
	<param
		name="/use_sim_time"
		value="true" />
	-->
	
	<rosparam
		command="load"
		file="$(find lrm_bringup)/params/vehicle_params.yaml" />

	<node
		pkg="lrm_drivers"
		name="vehicle_state_node"
		type="vehicle_state_node"
		respawn="true"
		output="screen"
	>
		<remap
			from="encoders"
			to="/encoders_controller/encoders" />
	</node>

	<node
		pkg="lrm_drivers"
		name="cruise_control"
		type="cruise_control"
		respawn="true"
		output="screen"
	>
	<!-- 
		<remap
			from="throttle_commands"
			to="throttle_cruisecontrol" />
	 -->
	</node>

</launch>