<launch>

<!-- 
	<param
		name="robot_description"
		command="cat $(find lrm_rbb_grupo_c)/urdf/robot.urdf" />
 -->

	<param
		name="robot_description"
		command="cat $(find carina_description)/urdf/carina_gazebo.urdf" />
 		
<!-- 		
	<node
		name="joint_state_publisher"
		pkg="joint_state_publisher"
		type="joint_state_publisher"
	>
		<param
			name="rate"
			value="30" />
	</node>
 -->
 
	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="state_publisher"
	>
		<param
			name="publish_frequency"
			value="30" />
	</node>

	<node
		name="tf_base_world"
		pkg="tf"
		type="static_transform_publisher"
		args="3 3 0 0 0 0 base_footprint /world 50" />
	
	<!-- 
	<node
		name="tf_odom_gazebo_world"
		pkg="tf"
		type="static_transform_publisher"
		args="0 0 0 0 0 0 odom_gazebo /world 10" />
 	-->
 	
</launch>