<launch>

	<node name="camera" pkg="camera1394" type="camera1394_node">
		<param name="guid" value="00b09d0100ac4597" />
		<!--<param name="video_mode" value="1024x768_mono8" />-->
		<!--<param name="video_mode" value="640x480_yuv422" />-->
		
		<param name="video_mode" value="format7_mode1" />
		<param name="frame_rate" value="30" /> 
				
		<!-- $(env ROS_NAMESPACE) -->
		<!--
		<remap from="camera/image_raw" to="/stereo/left/image_raw" />
		<remap from="camera/camera_info" to="/stereo/left/camera_info" />
		<remap from="camera/set_camera_info" to="/stereo/left/set_camera_info" />
		-->
	</node>


</launch>
