<launch>

	<param
		name="robot_description"
		command="cat $(find lrm_description)/urdf/golf_cart.urdf" />

	<node
		name="joint_state_publisher"
		pkg="joint_state_publisher"
		type="joint_state_publisher"
	>
		<param
			name="rate"
			value="30" />
	</node>

	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="state_publisher"
	>
		<param
			name="publish_frequency"
			value="30" />
	</node>

</launch>